<div class="container">
    <div class="row">
                {% for item in newarrivals %}
                    <div class="item">
                        <a href="{% url 'products_display' item.slug %}">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{ item.image.url }}" alt="newarrivals" class="w-100">
                                </div>
                                <a class="text-center">{{item.name}}</a>
                                <p>Rs:{{item.selling_price}}</p>
                            </div>
                        </a>
                        <div class="">
                            {% if obj.quantity > 0 %}
                            <button>Wishlist</button>
                            {% endif %}
                            <button class="btn btn-light addToCartBtn" data-product ="{{object.id}}" style="margin-left: 20px;">Add to cart</button>
                        </div> 
                    </div>
                {% endfor %}   
                
    </div>
</div>