<div class="container">
    <div class="row">
        <div class="col-md-12"><br>
            <h1 style="font-family: Arvo, serif;" class="text-center">Categories</h1>
            <hr>
            <div class="owl-carousel owl-theme">
                {% for item in cate %}
                    <div class="item">
                        <a href="#">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{ item.image.url }}" alt="newarrivals" class="w-100">
                                </div>
                                <h4 class="text-center">{{item.name}}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}    
            </div>
        </div>
    </div>
</div>

<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
})
</script>