{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ object.title}}</title>
{%endblock title %}


{% block content %}

<div class="container">
  <div class="card-shadow product_data">
    <div id="displayProduct">
        <!-- Productdisplay detail -->
      <div class="col mb-12" style="max-width:1300px; height: 400px;">
        <div class="row g-0">
          <div class="col-md-7">
            <img src="{{object.image.url}}" class="img-fluid rounded-start" alt=".." style="height: 400px; width: 650px;">
          </div>

          <div class="col-md-5">
            <div class="card-body" style="margin-left: 20px;">
              <h2 class="card-title">{{ object.title}}</h2>   
              <p class="card-text">{{ object.description | safe}}</p>
              <hr>
              {% if obj.quantity >= 0 %}
                  <label class="badge bg-danger">Out Of Stock</label>
              {% else %}
                  <label class="bade bg-success">Instock</label>
              {% endif %}

                <div class="input-group">
                    <button class="input-group-text decrementBtn">-</button>
                    <input type="text" name="quantity"  class="input-group-text qty-input" value="1" style="width: 100px;">
                    <button class="input-group-text incrementBtn" type="submit">+</button>
                    <small>{{object.quantity}} items left</small>
                </div>
                
                  <div class="col-md-4">
                        {% if obj.quantity > 0 %}
                        <button>Wishlist</button>
                        {% endif %}
                        <button class="btn btn-light addToCartBtn" data-product ="{{object.id}}" style="margin-left: 20px;">Add to cart</button>
                  </div>
              <br>
            </div>

              <div>
                <small>SharelLink: 
                  <i class="fab fa-facebook" style="margin-left: 10px;"></i> 
                  <i class="fab fa-twitter" style="margin-left: 10px;"></i>
                  <i class="fab fa-instagram" style="margin-left: 10px;"></i>
                  <i class="fab fa-linkedin" style="margin-left: 10px;"></i>
                </small>
              </div>

              <div>
                <small>Categories:{{object.category}}</small>
              </div>

              <div>
                <h2>hel</h2>
                <p>Delivery and Return</p>
                <p>Shipping Information</p>
              </div>
            
          </div>

        </div>
      </div>

        <!-- End of Product Display bar -->

      <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Description</a>
                    <p class="card-text">{{ object.description | safe}}</p>
                </li>

                <li class="nav-item" style="margin-left: 100px;">
                  <a class="nav-link active" aria-current="page" href="#">Review</a>
                </li>
              </ul>
          </div>
        </nav>
      </div>
      
    </div>

    <div>
      <h3 class="row justify-content-center">Related Products</h3>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="card">
          <img src="{{obj.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
              <a class="card-title" href="#">
                  {{obj.title}} 
              </a>

              <p class="card-text">
                  {{obj.description | safe |truncatechars_html:50}}
              </p>

              <div class="input-group">
                <button class="input-group-text" type="button" onclick="decrementBtn()">-</button>
                <input type="text" name="" id="cartValue" class="input-group-text qty-input" value="1" style="width: 100px;">
                <button class="input-group-text" type="submit" onclick="incrementBtn()">+</button>
                <button class="btn btn-light add-btn update-cart" data-product="{{ object.id }}" data-action="add" style="margin-left: 20px;">Add to cart</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>

let cartValue = 0;

function incrementBtn() {
  cartValue++;
  document.getElementById('cartValue').value = cartValue;
}

function decrementBtn() {
  if (cartValue > 1) {
    cartValue--;
    document.getElementById('cartValue').value = cartValue;
  }
}  
</script>
{% endblock script %}
