{% extends 'base.html' %}


{% block content %}

<!-- <div class="container">
    <h1 style="font-family: Arvo, serif;" class="text-center">{{ category_name.name}}</h1>
    <div class="row">
        {% for item in products %}
        <div class="col-md-3">
            <div class="card">
                <a href="{% url 'products_display' item.slug %}">
                    <img src="{{ item.image.url }}" alt="newarrivals" style="width: 280px; height: 300px;">
                </a>
            </div>
            <p class="text-left" style="padding:5px;">{{ item.title }}</p>
            <p class="text-left">{{ item.selling_price }}</p>
        </div>
        {% endfor %}
    </div>
</div> -->



<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
            <h2 class="text-2xl font-bold text-gray-900">{{ category_name.name }}</h2>
            
            <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                {% for item in products %}
                <div class="group relative mb-8">
                    <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="{{ item.image.url }}" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                    <a href="{% url 'products_display' item.slug %}">
                        <span class="absolute inset-0"></span>
                        {{ item.title }}
                    </a>
                    </h3>
                <p class="text-base font-semibold text-gray-900">{{ item.selling_price }}</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
  

{% endblock content %}
