{% load static %}



<footer class="footer">
  <div class="container">
    <div class="card-group">
      <div class="card">
        <img src="{% static 'images/jblogo.jpg' %}" class="card-img-left" alt="..." style="width: 40px; height: 40px;">
        <h5 class="card-title text-center">Jaya Barahi Furniture</h5>
        <div class="card-body">
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>


          <h5 class="card-title">Location</h5>
          <p class="card-text ">Bhaktapur, Nepal</p>
          <p>9801822861</p>
          <p>jayabarahifurniture@gmail.com</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
      \


          <h5 class="card-title text-center">Socila Media</h5>
        </div>
        <div class="card-footer">
          <ul>
            <ul>
            <a href="#">facebook</a>
            </ul>
            <ul>
            <a href="#">Instagram</a>
            </ul>
            <ul>
            <a href="#">Viber</a>
            </ul>
            <ul>
            <a href="#">Whatsapp</a>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
 
</footer>