{% block content %}
{% load static %}
<header class="bg-white">
    <nav class="flex justify-between items-center w-[92%]  mx-auto">
        <div>
            <img class="w-16 cursor-pointer" src="{% static 'images/jblogo.jpg' %}" alt="...">
        </div>
        <div
            class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
            <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-4">
                <li>
                    <a class="hover:text-gray-500" href="#">Home</a>
                </li>
                <li>
                    <a class="hover:text-gray-500" href="{% url 'store' %}">Products</a>
                </li>
                <li>
                    <a class="hover:text-gray-500" href="{% url 'category' %}">Category</a>
                </li>
                <li>
                    <a class="hover:text-gray-500" href="#">Blog </a>   
                </li>
                <li>
                    <a class="hover:text-gray-500" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        <div class="flex items-center gap-6">
            <button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Sign in</button>
            <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
        </div>
    </nav>
</header>



<script>
const navLinks = document.querySelector('.nav-links')
function onToggleMenu(e){
  e.name = e.name === 'menu' ? 'close' : 'menu'
  navLinks.classList.toggle('top-[9%]')
}
</script>


{% endblock content %}